@charset "UTF-8";
@media (max-width: 767px) {
  .meeting-wraper .filterWrap-meet {
    grid-template-columns: auto;
    max-width: 100%;
  }
  .year_col label {
    display: none;
  }
  .main_acco_title .accosign {
    right: 10px;
  }
  .gform_wrapper.gravity-theme .gform_footer {
    margin-top: 10px !important;
  }
  .advgb-recent-posts-block.grid-view .advgb-recent-posts,
  .advgb-recent-posts-block.list-view .advgb-recent-post {
    grid-template-columns: auto !important;
  }
  .advgb-recent-posts-block.list-view .advgb-recent-post {
    grid-row-gap: 0px !important;
  }
  .advgb-post-thumbnail a,
  .advgb-post-thumbnail a img {
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .simple_list_col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .expanding-grid .links > li {
    width: 100% !important;
  }
  .img_button_row .img_btn_col,
  .img_text_card_row .img_text_card_col,
  .button_ico_col,
  .contact_col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 40px;
  }
  .text_card_block {
    height: auto !important;
  }
  .text-img-wrap.no-img .btn_sm {
    position: static;
  }
  .wp-block-group.is-content-justification-left > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  .img_text_card_row.one .text-img-wrap {
    grid-template-columns: auto;
  }
  .top-Title.text-left {
    text-align: center !important;
    justify-content: center;
    padding-bottom: 10px;
  }
  .main_events .top-Title .btn_sm {
    display: none;
  }
  .news_wraper .search_filter_title,
  .news_wraper .search_filter_title .filterWrap {
    grid-template-columns: auto;
  }
  .filter_box.col-two label {
    display: none;
  }
  .resultWraper .searchFilterBlock {
    padding-top: 0;
  }
  .filterBlocks {
    padding-top: 20px;
  }
  .no-found-info h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .alert-area p {
    line-height: 54px;
    text-align: left;
    padding-left: 10px;
  }
  .alert-area .close {
    top: 21px;
  }
  .main_banner .carousel-item {
    background-image: url(../img/banner-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .main_banner .carousel-item > img {
    min-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
  .main_banner .carousel-caption {
    text-align: center;
    left: 5%;
    right: 5%;
    background-size: 300px;
    background-repeat: no-repeat;
    width: 300px;
    transform: none;
    height: 150px;
  }
  .main_banner h3 {
    font-size: 21px;
  }
  .main_banner::before {
    display: none;
  }
  .nav_section {
    position: static;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
  }
  .nav_section .navcol {
    width: 50%;
    margin-bottom: 0;
  }
  .nav_section .navBlock_col {
    margin: 1px;
    height: 145px;
  }
  .nav_section .navblock_icon {
    width: 54px;
    height: 54px;
    margin-bottom: 5px;
  }
  .nav_section span {
    font-size: 15px;
  }
  .img_buttons.imagelist {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #EFEFF0;
  }
  .counters_number {
    padding-top: 30px;
    background-image: url(../img/counters-bg-mobile.png);
  }
  .counters_number .counter-box {
    padding: 10px 20px 30px;
  }
  .NewsMettings {
    padding-top: 50px;
  }
  .NewsMettings.imagegray {
    background-color: #EFEFF0;
    padding-top: 50px;
    padding-bottom: 440px;
  }
  .NewsMettings .form_bg {
    bottom: 0;
    width: 100%;
  }
  .NewsMettings .form_bg .generic_form-news {
    max-width: 320px;
  }
  .main_banner.recreation-main .carousel-caption h2 {
    font-size: 26px;
    line-height: 38px;
  }
  .main_banner.recreation-main .carousel-caption h2 span {
    font-size: 44px;
  }
  .main_banner.recreation-main .nav_section .navcol {
    width: 49.8%;
  }
  .pinole-tv {
    padding-top: 60px;
  }
  .img_button_row .img_block .img_block_title h3 {
    font-size: 18px;
  }
  .upmeetings {
    padding-top: 60px;
  }
  .main_header .navbar-brand {
    padding: 0px 0 0 12px;
  }
  .main_header .navbar-brand img {
    max-width: 66px;
  }
  .main_header .navbar-brand .logo-txt {
    font-size: 19px;
    line-height: 20px;
    padding-bottom: 0px;
  }
  .main_header .navbar-brand .logo-txt .logo-city {
    font-size: 13px;
  }
  .signup-alerts .form_bg .generic_form-news {
    max-width: 320px;
  }
  .news_wraper .signup-alerts .form_bg .generic_form-news {
    max-width: 320px;
  }
  .signup-alerts {
    padding-top: 60px;
  }
  .connect-withus {
    padding-top: 60px;
  }
  .connect-withus .meeting-cards .topTitle {
    text-align: center !important;
  }
  .generic_middle_block {
    padding: 0 15px;
  }
  .topTitle h2 {
    font-size: 32px;
  }
  .img_carousel {
    padding: 50px 0 !important;
  }
  .main_header .navbar {
    height: 82px;
  }
  .expanding-grid .links > li {
    width: 100%;
  }
  .featured-programs {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .main_breadcrumb .container {
    padding-left: 15px;
  }
  .main_search_content {
    flex-wrap: wrap;
  }
  .main_search_content h5 {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .main_search_content .form-control {
    min-width: 100%;
  }
  .text-img-wrap.no-img .btn_sm {
    position: static;
  }
  .search_filter_title {
    flex-wrap: wrap;
  }
  .search_filter_title .filter_box {
    margin-left: 0;
    margin-top: 10px;
    width: 100% !important;
  }
  .news_wraper .news_lst_row .newsimg img {
    height: auto;
  }
  .search_box {
    width: 100%;
    max-width: 100%;
  }
  .Department-details .col-le {
    max-width: 100%;
    min-width: auto;
  }
  .Department-details .col-re {
    max-width: 100%;
    min-width: auto;
  }
  .contactcard_row {
    margin: 0px;
  }
  .main_breadcrumb {
    position: absolute;
    left: 0;
    top: 15px;
  }
  .page_title {
    padding-top: 50px;
  }
  .page_title h1 {
    padding-bottom: 32px;
    font-size: 32px;
  }
  .newsRow .newsColumn,
  .news-grid .newsColumn {
    width: 100%;
  }
  .news_wraper .newsSort {
    width: 100%;
  }
  .newsSort {
    margin-left: 0px !important;
    margin-top: 10px;
    max-width: 100% !important;
    padding-left: 0px !important;
  }
  .filter_box.col-three label {
    display: none;
  }
  .news_wraper .newsRow .newsColumn {
    width: 100%;
  }
  .event_wraper .eventRow .eventColumn {
    width: 100%;
  }
  .event_wraper .search_filter_title .filterWrap {
    grid-template-columns: auto;
  }
  .event-det-wraper .event-det-content .evt_slider {
    width: 85%;
    margin: 0 auto;
  }
  .interactive_map .map_area .searchFilterBlock {
    padding: 35px 10px;
  }
  .business_wraper .newsRow .newsColumn {
    width: 100%;
  }
  .main_banner h2 {
    font-size: 28px;
  }
  .main_banner .carousel-item img {
    width: 180px;
  }
  .main_search_content h3 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main_search_content .search_input {
    width: 100%;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
  }
  .timeline-article {
    flex-wrap: wrap;
    padding-left: 30px;
    overflow: visible;
  }
  #conference-timeline .conference-center-line {
    left: 30px;
  }
  .timeline-inner-left {
    text-align: left;
    padding-right: 0;
  }
  .timeline-level-one,
  .timeline-level-two {
    flex-wrap: wrap;
    overflow: visible;
    padding-left: 40px;
    padding-right: 20px;
  }
  .timeline-inner-left,
  .timeline-inner-right {
    max-width: 100%;
  }
  .timeline-article .circle_yw {
    left: 0px;
  }
  .timeline-article .image_year_row {
    flex-wrap: wrap;
  }
  .timeline-article .section_year {
    margin: 20px 0px;
    display: none;
  }
  .img_left .image_year_row .section_year {
    right: auto;
    left: 0px;
  }
  .odd.timeline-article .content-right-container,
  .even.timeline-article .content-right-container {
    padding-top: 20px;
    padding-left: 0px;
  }
  .section_img {
    padding-top: 30px;
  }
  .even.timeline-article .section_img {
    margin-bottom: 20px;
  }
  .timeline-inner-left,
  .timeline-inner-right {
    padding-left: 40px;
  }
  .timeline-article.even .circle_yw::before {
    right: auto;
    left: 28px;
  }
  .timeline-article.even .circle_yw::after {
    right: -85px;
    left: auto;
  }
  .timeline-article .content-left {
    text-align: left;
  }
  .even.timeline-article .content-left-container {
    padding-left: 0px;
    padding-right: 0px;
    order: 2;
  }
  .timeline-article .circle_yw {
    top: 0px;
  }
  .footer {
    background-image: none;
    margin-top: 70px;
    background: transparent linear-gradient(180deg, #202188 0%, #160B50 100%) 0% 0% no-repeat padding-box;
  }
  .footer .footer-top {
    padding: 30px 0px 50px;
  }
  .footer .footer-top-grid .foo_col1, .footer .footer-top-grid .foo_col2, .footer .footer-top-grid .foo_col3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer .footer-top-grid .foo_col3 {
    margin-bottom: 50px;
  }
  .footer .footer-top-grid .foo_col1 {
    margin-bottom: 50px;
  }
  .footer .footer-top-grid .foo_col2 ul {
    margin: 0;
  }
  .footer .footer-top-grid .foo_col2 ul li a {
    font-weight: 400;
  }
  .footer .footer-bottom .footer-bottom-content ul {
    display: block;
    text-align: center;
  }
  .footer .footer-bottom .footer-bottom-content ul li {
    padding: 5px 15px;
  }
  .footer .footer-bottom .footer-bottom-content ul li:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .news_wraper .newsRow .newsColumn {
    width: 50%;
  }
  .advgb-recent-posts-block.grid-view .advgb-recent-posts {
    grid-template-columns: 1fr 1fr !important;
  }
  .img_button_row.four .img_btn_col,
  .img_text_card_row.four .img_text_card_col,
  .simple_list_info .row.four .simple_list_col,
  .contactcard_row.four .contact_col {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main_banner .carousel-item img {
    min-height: 500px;
  }
}
@media (min-width: 1200px) {
  .logged-in .main_header {
    top: 30px;
  }
}
@media (max-width: 1199.9px) {
  .main-tabs .nav-tabs {
    flex-wrap: nowrap;
    justify-items: flex-start;
    overflow: auto;
  }
  .main_header .top_header {
    display: none;
  }
  .alert-bar {
    top: 75px;
  }
  .nav_bottom {
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
  }
  .navbar-toggler {
    margin-right: 0;
    background: none;
    border-radius: 0px;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    outline: 0 !important;
  }
  .top_menu .top_inner_menu {
    flex-wrap: wrap;
  }
  .navbar-toggler .icon-bar {
    width: 25px;
    height: 2px;
    background: #327136;
    display: block;
    margin-bottom: 5px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .navbar-toggler.active .icon-bar:nth-of-type(1) {
    top: 8px;
    transform: rotate(45deg);
  }
  .navbar-toggler.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
  }
  .navbar-toggler.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
  }
  .navbar-nav > li {
    display: block;
    padding: 0px 15px;
  }
  .main_header .navbar-nav > li > .dropdown-menu {
    position: static;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    background: none;
    padding-left: 20px;
    box-shadow: none;
  }
  .plusMinus {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    text-align: center;
    cursor: pointer;
    top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plusMinus::after {
    content: "+";
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    display: block;
    right: 6px;
    font-weight: 600;
    font-size: 28px;
    color: #202188;
  }
  .plusMinus.minsicon::after {
    content: "−";
  }
  .plus-minus.minus-icon::after {
    content: "−";
  }
  .navbar-nav {
    margin-top: 20px;
    width: 100%;
  }
  .top_menu {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .top_search {
    width: 100%;
  }
  header .searchbardiv {
    max-width: 100%;
    width: 100%;
  }
  .main_wrapper {
    padding-top: 75px;
  }
  .plus-minus::after {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .plus-minus {
    right: 35px;
    top: 0px;
  }
  .headerActive {
    max-height: calc(100vh - 30px);
    overflow: auto;
  }
  .main_header .navbar-nav > li > a {
    justify-content: flex-start;
    padding: 8px 18px 8px 18px !important;
    font-size: 17px;
  }
  .Department-details .col-le {
    max-width: 100%;
    min-width: auto;
  }
  .Department-details .col-re {
    max-width: 100%;
    min-width: auto;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 2100px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 1200px;
  }
}
@media (max-width: 768px) and (min-width: 430px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 400px;
  }
}
@media (max-width: 1023px) {
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel {
    flex-direction: row;
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex !important;
    overflow: auto;
    justify-content: flex-start;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-desktop ul.advgb-tabs-panel {
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex !important;
    overflow: auto;
    justify-content: flex-start;
  }
  .main_wrapper .advgb-tab-body-wrapper .advgb-tab-body-header {
    display: none !important;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop {
    flex-direction: column;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-tablet .advgb-tab-body-wrapper {
    max-width: 100%;
  }
  .main_content > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main_content .wp-block-group {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main_content .wp-block-group > ul,
  .main_content .wp-block-group > ol {
    padding-left: 30px !important;
  }
  .main_content > ul,
  .main_content > ol {
    padding-left: 30px !important;
  }
  div.advgb-tab-body > ul,
  div.advgb-tab-body > ol {
    padding-left: 30px !important;
  }
  .wp-block-group > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wp-block-group > ol,
  .wp-block-group > ul {
    padding-left: 30px;
  }
  .advgb-tab-body-wrapper div.advgb-tab-body > *,
  .advgb-tab-body-wrapper div.advgb-tab-body > .gform_wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 800px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
    padding-top: 20px !important;
    padding-left: 30px !important;
    padding-bottom: 20px !important;
  }
  .wp-block-media-text .wp-block-media-text__content {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1024px) {
  .wp-adminify.toplevel_page_gf_edit_forms #gform-form-toolbar {
    width: calc(100% - 290px);
  }
  .gform-admin .gform-flyout.gform-flyout--right {
    right: 70px;
  }
  .logged-in .main_wrapper {
    padding-top: 175px;
  }
}/*# sourceMappingURL=responsive.css.map */